*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:url(image/doctor4.jpg);
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.reg{
    /* background-color:#36a19a ; */
    background-color: #05313f;
    color: #fff;
    padding: 20px 30px;
}
.wrapper{
    /* justify-content: center;
    align-items: center; */
    padding: 20px 40px;
}
.form-control{
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
}
.submit{
    /* background-color: #36a19a; */
    background-color: #05313f;
    border-style: none;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #05313f;
    cursor: pointer;
    font-size: large;
}
.form-control a{
    text-decoration: none;
}
.login a{
    text-decoration: none;
    color: #36a19a;
}
