*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:url(image/doctorf.jpeg);
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;

}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    
}
.reg{
    /* background-color:#36a19a ; */
    background-color: #05313f;
    color: #fff;
    padding: 20px 30px;
}
.wrapper{
    /* justify-content: center;
    align-items: center; */
    padding: 20px 40px;
}
.form-control{
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
}
.gender{
    padding:5px;
}
.gender h4 {
    padding-bottom: 10px;
}
.submit{
    /* background-color: #36a19a; */
    background-color: #05313f;
    border-style: none;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #05313f;
    cursor: pointer;
    font-size: large;
}

.submit:hover {
    text-decoration: underline white;
}

.form-control a{
    text-decoration: none;
}
.login a{
    text-decoration: none;
    color: #05313f;
}

.login a:hover{
    text-decoration: underline;
}

/* .wrapper{
    /* background-color: #fff;
    width: 30%;
    height: 100vh;
    position: relative; 
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    margin-top: 30px;
    
} */

.Next_of_kin {
    padding-bottom: 10px;
}